<h1>Public chat</h1>
<hr />

<div id="message-list">
  <ul>
  </ul>
</div>
<hr />

<div id="message-input">
  <div class="username">
    <%= @username %>
  </div>
  <textarea id="messageText" rows="3"></textarea><br />
  <button>Send</button>
</div>
